<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="WESTPackages" value="https://pkgs.dev.azure.com/eps-software/25138a24-91f3-4071-b9bd-4d7763ecb75f/_packaging/WESTPackages%40Local/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials> 
    <WESTPackages>
      <add key="ValidAuthenticationTypes" value="basic, negotiate" />
      <add key="Username" value="myeager-msid@outlook.com" />
      <add key="ClearTextPassword" value="orhmcyu5dshbnjleia35qnptfbviliutw7wdrk3p5vb47ailnfha" />
    </WESTPackages>
  </packageSourceCredentials>
</configuration>